<h4>Log In  User Account</h4>

<form action = "/login" method="POST">
  <div>
    <label for="username">Username:</label><input  name="user[username]" id="username" type="text" >
  </div>
  <br>
  <div>
    <label for="password">Password:</label><input type="password" name="user[password]" id="password">
  </div>
  <br><br>
    <input type="submit" value="Log In" class="btn grey darken-3">
  </form>