<h4>Create User Account</h4>

<form action = "/users/signup" method="POST">
  <div>
    <label for="username">Username:</label><input  name="user[username]" id="username" type="text" >
  </div>
  <br>
  <div>
    <label for="email">E-mail:</label><input type="text" name="user[email]" id="email">
  </div>
  <br>
  <div>
    <label for="password">Password:</label><input type="text" name="user[password]" id="password">
  </div>
  <br><br>
    <input type="submit" value="Create Account" class="btn grey darken-3">
  </form>